*{
    margin: 0;
    padding: 0;

}
.mainBox{
    color: #ffffff;
    background-color:  #222831;
}

.mainBox div{
    border-radius: 30px;
    padding:20px;
}

.addreminderBox{
    padding-top: 75px !important;
    background-color: #808080;
    width: 100%;
    height: 100%;
    position: relative;
}

.iconsBox{
    width: 6vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 50px;   
}

.iconsBox i:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;
    cursor: pointer;
}




.remindersMainbox{
    background-color: #808080;
    width: 100%;
    height: 90%;
}
.myreminderBox{
    background-color: #808080;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}




/* contact box absolute */
.contactBox{
    position: absolute;
    left: 10px;
    padding: 10px;
    border-radius: 30px;

}

.contactBox div{
    font-size: 50px;
    border-radius: 100px;
    gap: 10px;
    padding-block: 20px;
    padding-inline: 10px;
    background-color: #808080;
}

.contactBox div a i{
     color:white;
}
.contactBox div a:first-child i:hover{

    color: #fff;
    text-shadow: 5px 5px #ff3353fc,
                 -2px -2px cyan;

}
.contactBox div a:nth-child(2) i:hover{
    background:-webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.contactBox div a:last-child i:hover{
    color: #43609C;    
    }

.contactBox div a:hover{
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.36), 0 0 20px rgba(255, 255, 255, 0.36); */

}

/* logo box absolute */

.logoBox img{
    position: absolute;
    width: 75px;
    height: 75px;
    right: 20px;
    top: 20px;
  
}

.logoBox img:hover{
    -webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 1));
    cursor: pointer;
}



/* scroll bar style */




.myreminderBox::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
	background-color:none;
}

.myreminderBox::-webkit-scrollbar
{
	width: 12px;
}

.myreminderBox::-webkit-scrollbar-thumb
{  
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
	background-color: white;
}

/* add button */
.addbtn{
   color: white;
   position: absolute;
   right: 15px;
   bottom: 10px;
   font-size: 50px;
}

.addbtn:hover{
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;
}

/* actions button */
.actions{
    gap: 20px;
}
.actions i{
    font-size: 20px;
}
.actions i:first-child:hover{
    cursor: pointer;
    color: lime;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;
}

.actions i:nth-child(2):hover{
    cursor: pointer;
    color: yellow;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;

}

.actions i:last-child:hover{
    cursor: pointer;
    color: red;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;

}

/* .actions i:hover{
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #fff, 0 0 82px #fff,0 0 92px #fff;

} */


/* reminders */

.reminders{
    border-bottom: 1px white solid;
}

.reminders p:first-child{
    font-size: 22px;
}

.done{
    text-decoration: line-through;
    color: lime;
}
.done div i{
    color: white;
}